@model PetShop_WebApp4.Models.Animal
@{
    List<Category> Cats = ViewBag.Cats;
}

<p class="p ">Edit The Animal:</p>

<div class="row justify-content-around ">
    <div class="col-5">
        @using (Html.BeginForm("Update", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.AnimalId)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Animal Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Age, new { @class = "form-control", placeholder = "Age", type = "number", min = "1", max = "50" })
                @Html.ValidationMessageFor(model => model.Age)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description", maxlength = "500" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

             <div class="form-group">
                @Html.LabelFor(model => model.ImageFile, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ImageFile, new { @class = "form-control", type = "file"})
                @Html.ValidationMessageFor(model => model.ImageFile)
            </div>

            <div class="form-group ">
                <label class="control-label">Category</label>
                <select id="categoryID" name="categoryID" class="select-control">
                    @foreach (var cat in Cats)
                    {
                        <option value="@cat.CategoryId">@cat.CategoryName</option>
                    }
                </select>
            </div>

            <div class="centeredDiv ">
                <input type="submit" class="btn btn-outline-success active " value="Edit Animal" />
            </div>
        }
    </div>
</div>

@section Scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
